*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(67, 67, 67);
    
}
ul,ul,menu{
    list-style: none;
}

.container{
    margin: auto;
    width: 80%;
    padding: 10px;
}